@property --layout-bg {
  syntax: '<color>';
  inherits: false;
  initial-value: hsl(0deg, 0%, 100%);
}

.main-layout {
  background-color: var(--layout-bg);
  animation: changeBackgroundColor normal;
  animation-timeline: scroll();
  animation-range: 200px;
}

@keyframes changeBackgroundColor {
  to {
    --layout-bg: hsl(120deg, 50%, 80%);
  }
}
